h2 {
    background-color: aqua;
}

#lastH1 {
    background-color: blueviolet;
}


.firstH1 {
    background-color: cornflowerblue;
}

.anotherClass {
    background-color: red;
}

.firstPara{
    background-color: chocolate;
}

.lastPara{
    background-color: brown;
}