/* hover  */
/* active */
/* focus  */




.hoverInput{
    background-color: aqua; 

}



.hoverInput:hover{
    background-color: blueviolet;
}


.firstH1:hover{
    background-color: aqua;
    color: blue;
}



.activeInput:active{
    background-color: blueviolet;
}



.focusInput:focus{
    background-color: blueviolet;
}